In [1]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv("C:\\Users\\AZD\\Desktop\\merged_ecog_class.csv")
data

,RID,EXAMDATE,AGE,APOE4,MMSE_bl,ADAS11_bl,ADAS13_bl,Ventricles_bl,Entorhinal_bl,RAVLT_immediate_bl,...,PTMARRY,PTEDUCAT,PTRACCAT,MEM_AVG,LANG_AVG,VISSPAT_AVG,PLAN_AVG,ORGAN_AVG,DIVATT_AVG,DX_bl
0,2,2010-09-22,74.3,0.0,28,10.67,18.67,118233.0,4177.0,44.0,...,2.0,16.0,5.0,0.937500,0.750000,0.428571,0.6875,0.750000,0.6875,CN
1,8,2010-09-27,84.5,0.0,28,5.00,7.00,18757.0,4190.0,51.0,...,2.0,18.0,5.0,0.625000,0.555556,0.500000,0.5000,0.416667,0.3750,CN
2,15,2011-11-03,80.8,1.0,29,7.00,9.00,33420.0,4307.0,50.0,...,1.0,18.0,5.0,0.750000,0.694444,0.392857,0.5000,0.583333,0.8750,CN
3,21,2010-10-07,72.6,0.0,30,6.67,9.67,13987.0,3428.0,53.0,...,3.0,18.0,4.0,0.312500,0.277778,0.250000,0.2500,0.350000,0.2500,CN
4,23,2010-12-21,71.7,0.0,26,4.00,8.00,21897.0,3623.0,40.0,...,1.0,14.0,4.0,0.468750,0.333333,0.357143,0.2500,0.250000,0.3750,CN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,5290,2013-09-24,67.0,1.0,29,5.00,6.00,10361.0,3974.0,53.0,...,2.0,12.0,5.0,0.468750,0.472222,0.321429,0.2500,0.350000,0.5000,SMC
1220,5292,2013-11-12,74.3,0.0,30,3.00,5.00,14873.0,3789.0,41.0,...,1.0,13.0,5.0,0.714286,0.361111,0.800000,0.3750,0.625000,0.9375,SMC
1221,5294,2013-11-25,68.5,1.0,30,8.00,11.00,21884.0,4498.0,49.0,...,3.0,18.0,5.0,0.656250,0.527778,0.357143,0.4375,0.350000,0.3125,SMC
1222,5295,2013-12-11,75.5,1.0,29,11.00,18.00,NaN,NaN,28.0,...,1.0,15.0,5.0,0.250000,0.250000,0.250000,0.2500,0.250000,0.2500,SMC
1223,5296,2013-12-18,69.3,0.0,29,9.00,14.00,18633.0,4701.0,38.0,...,1.0,14.0,5.0,0.343750,0.333333,0.250000,0.2500,0.300000,0.3125,SMC

In [45]:
col = ["DX_bl", "RID", "EXAMDATE", "AGE", "APOE4", "MH2NEURL", "MH4CARD", "MH5RESP", "PTGENDER", "PTMARRY", "PTEDUCAT", "PTRACCAT"] # remove, not going to normalize

df = data.drop(col, axis=1) #to normalize + abeta
df

,MMSE_bl,ADAS11_bl,ADAS13_bl,Ventricles_bl,Entorhinal_bl,RAVLT_immediate_bl,ABETA_bl,CEREBRUM_TCB,TOTAL_HIPPO,TOTAL_CSF,FAQTOTAL,MEM_AVG,LANG_AVG,VISSPAT_AVG,PLAN_AVG,ORGAN_AVG,DIVATT_AVG
0,28,10.67,18.67,118233.0,4177.0,44.0,NaN,NaN,NaN,NaN,0.0,0.937500,0.750000,0.428571,0.6875,0.750000,0.6875
1,28,5.00,7.00,18757.0,4190.0,51.0,1700.0,NaN,NaN,NaN,0.0,0.625000,0.555556,0.500000,0.5000,0.416667,0.3750
2,29,7.00,9.00,33420.0,4307.0,50.0,NaN,NaN,NaN,NaN,0.0,0.750000,0.694444,0.392857,0.5000,0.583333,0.8750
3,30,6.67,9.67,13987.0,3428.0,53.0,NaN,821.990,6.75600,269.124,0.0,0.312500,0.277778,0.250000,0.2500,0.350000,0.2500
4,26,4.00,8.00,21897.0,3623.0,40.0,1647.0,902.203,7.07640,338.090,0.0,0.468750,0.333333,0.357143,0.2500,0.250000,0.3750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,29,5.00,6.00,10361.0,3974.0,53.0,899.4,914.062,6.54738,293.447,1.0,0.468750,0.472222,0.321429,0.2500,0.350000,0.5000
1220,30,3.00,5.00,14873.0,3789.0,41.0,928.3,846.845,6.05251,272.409,1.0,0.714286,0.361111,0.800000,0.3750,0.625000,0.9375
1221,30,8.00,11.00,21884.0,4498.0,49.0,NaN,919.079,7.45107,323.840,0.0,0.656250,0.527778,0.357143,0.4375,0.350000,0.3125
1222,29,11.00,18.00,NaN,NaN,28.0,416.8,859.896,6.30006,401.002,1.0,0.250000,0.250000,0.250000,0.2500,0.250000,0.2500
1223,29,9.00,14.00,18633.0,4701.0,38.0,1460.0,1284.600,8.60280,367.217,1.0,0.343750,0.333333,0.250000,0.2500,0.300000,0.3125

In [29]:
# # separate ecog columns (already normalized) from columns we want to normalize
df_no_ecog = df.drop(["MEM_AVG", "LANG_AVG", "VISSPAT_AVG", "PLAN_AVG", "ORGAN_AVG", "DIVATT_AVG"], axis=1)
df = df_no_ecog # assign to df 
ecog = data[["MEM_AVG", "LANG_AVG", "VISSPAT_AVG", "PLAN_AVG", "ORGAN_AVG", "DIVATT_AVG"]]

#imaging data 
df_imaging = df.loc[:,["Ventricles_bl", "Entorhinal_bl", "RAVLT_immediate_bl", "CEREBRUM_TCB", "TOTAL_HIPPO", "TOTAL_CSF"]]
#df_imaging

In [32]:
#ABETA 
abeta = data["ABETA_bl"] # drop abeta
df = df.drop(["ABETA_bl"], axis=1) #to normalize

for x in range(0,len(abeta)-1): # clean abeta column --> '>1700' cells
    if abeta[x] == '>1700':
        abeta[x] = '1700'

In [37]:
df["ABETA_bl"] = abeta

In [38]:
# mean normalization for imaging data only
normalized_imaging_df=(df_imaging-df_imaging.mean())/df_imaging.std()

# min-max normalization for the rest
normalized_minmax_df=(df-df.min())/(df.max()-df.min())

In [39]:
#normalized_imaging_df
normalized_minmax_df

,MMSE_bl,ADAS11_bl,ADAS13_bl,Ventricles_bl,Entorhinal_bl,RAVLT_immediate_bl,CEREBRUM_TCB,TOTAL_HIPPO,TOTAL_CSF,FAQTOTAL,ABETA_bl
0,0.818182,0.26675,0.359038,0.870691,0.614401,0.614286,NaN,NaN,NaN,0.000000,NaN
1,0.818182,0.12500,0.134615,0.101367,0.617317,0.714286,NaN,NaN,NaN,0.000000,1.000000
2,0.909091,0.17500,0.173077,0.214767,0.643562,0.700000,NaN,NaN,NaN,0.000000,NaN
3,1.000000,0.16675,0.185962,0.064476,0.446389,0.742857,0.236407,0.540561,0.186907,0.000000,NaN
4,0.636364,0.10000,0.153846,0.125651,0.490130,0.557143,0.368808,0.591419,0.391219,0.000000,0.964667
...,...,...,...,...,...,...,...,...,...,...,...
1219,0.909091,0.12500,0.115385,0.036434,0.568865,0.742857,0.388383,0.507446,0.258964,0.033333,0.466267
1220,1.000000,0.07500,0.096154,0.071329,0.527367,0.571429,0.277433,0.428894,0.196639,0.033333,0.485533
1221,1.000000,0.20000,0.211538,0.125550,0.686406,0.685714,0.396664,0.650892,0.349003,0.000000,NaN
1222,0.909091,0.27500,0.346154,NaN,NaN,0.385714,0.298975,0.468188,0.577595,0.033333,0.144533
1223,0.909091,0.22500,0.269231,0.100408,0.731943,0.528571,1.000000,0.833711,0.477507,0.033333,0.840000

In [41]:
df_col = data[col]
df_col

,DX_bl,RID,EXAMDATE,AGE,APOE4,MH2NEURL,MH4CARD,MH5RESP,PTGENDER,PTMARRY,PTEDUCAT,PTRACCAT
0,CN,2,2010-09-22,74.3,0.0,1.0,0.0,0.0,1.0,2.0,16.0,5.0
1,CN,8,2010-09-27,84.5,0.0,1.0,0.0,0.0,2.0,2.0,18.0,5.0
2,CN,15,2011-11-03,80.8,1.0,0.0,1.0,1.0,1.0,1.0,18.0,5.0
3,CN,21,2010-10-07,72.6,0.0,1.0,1.0,0.0,2.0,3.0,18.0,4.0
4,CN,23,2010-12-21,71.7,0.0,0.0,1.0,0.0,1.0,1.0,14.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1219,SMC,5290,2013-09-24,67.0,1.0,0.0,1.0,0.0,2.0,2.0,12.0,5.0
1220,SMC,5292,2013-11-12,74.3,0.0,0.0,0.0,0.0,2.0,1.0,13.0,5.0
1221,SMC,5294,2013-11-25,68.5,1.0,0.0,0.0,0.0,1.0,3.0,18.0,5.0
1222,SMC,5295,2013-12-11,75.5,1.0,0.0,0.0,0.0,2.0,1.0,15.0,5.0
1223,SMC,5296,2013-12-18,69.3,0.0,0.0,1.0,0.0,1.0,1.0,14.0,5.0

In [42]:
col_ecog = pd.concat([df_col, ecog], axis=1)
col_ecog_abeta = pd.concat([col_ecog, abeta], axis=1)
col_ecog_abeta_imaging = pd.concat([col_ecog_abeta, normalized_imaging_df], axis=1)
merged_normalized_df = pd.concat([col_ecog_abeta_imaging, normalized_minmax_df], axis=1)

In [43]:
merged_normalized_df

,DX_bl,RID,EXAMDATE,AGE,APOE4,MH2NEURL,MH4CARD,MH5RESP,PTGENDER,PTMARRY,...,ADAS11_bl,ADAS13_bl,Ventricles_bl,Entorhinal_bl,RAVLT_immediate_bl,CEREBRUM_TCB,TOTAL_HIPPO,TOTAL_CSF,FAQTOTAL,ABETA_bl
0,CN,2,2010-09-22,74.3,0.0,1.0,0.0,0.0,1.0,2.0,...,0.26675,0.359038,0.870691,0.614401,0.614286,NaN,NaN,NaN,0.000000,NaN
1,CN,8,2010-09-27,84.5,0.0,1.0,0.0,0.0,2.0,2.0,...,0.12500,0.134615,0.101367,0.617317,0.714286,NaN,NaN,NaN,0.000000,1.000000
2,CN,15,2011-11-03,80.8,1.0,0.0,1.0,1.0,1.0,1.0,...,0.17500,0.173077,0.214767,0.643562,0.700000,NaN,NaN,NaN,0.000000,NaN
3,CN,21,2010-10-07,72.6,0.0,1.0,1.0,0.0,2.0,3.0,...,0.16675,0.185962,0.064476,0.446389,0.742857,0.236407,0.540561,0.186907,0.000000,NaN
4,CN,23,2010-12-21,71.7,0.0,0.0,1.0,0.0,1.0,1.0,...,0.10000,0.153846,0.125651,0.490130,0.557143,0.368808,0.591419,0.391219,0.000000,0.964667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,SMC,5290,2013-09-24,67.0,1.0,0.0,1.0,0.0,2.0,2.0,...,0.12500,0.115385,0.036434,0.568865,0.742857,0.388383,0.507446,0.258964,0.033333,0.466267
1220,SMC,5292,2013-11-12,74.3,0.0,0.0,0.0,0.0,2.0,1.0,...,0.07500,0.096154,0.071329,0.527367,0.571429,0.277433,0.428894,0.196639,0.033333,0.485533
1221,SMC,5294,2013-11-25,68.5,1.0,0.0,0.0,0.0,1.0,3.0,...,0.20000,0.211538,0.125550,0.686406,0.685714,0.396664,0.650892,0.349003,0.000000,NaN
1222,SMC,5295,2013-12-11,75.5,1.0,0.0,0.0,0.0,2.0,1.0,...,0.27500,0.346154,NaN,NaN,0.385714,0.298975,0.468188,0.577595,0.033333,0.144533
1223,SMC,5296,2013-12-18,69.3,0.0,0.0,1.0,0.0,1.0,1.0,...,0.22500,0.269231,0.100408,0.731943,0.528571,1.000000,0.833711,0.477507,0.033333,0.840000

In [44]:
merged_normalized_df.to_csv(r'C:\Users\AZD\Desktop\merged_normalized_4.csv', index=False)